/*body {
    font-family: Arial, sans-serif;
}*/

form {
    margin-bottom: 20px;
}

/* Target the input elements within .form-group class */
.form-group input[type="date"],
.form-group input[type="number"] {
  width: 50%; /* Set the width to 50% of the original width */
}

h2 {
    font-weight: bold;
}

label, input, button {
    margin: 5px;
}

.form-group label {
    font-weight: bold; /* Add bold font weight */
    font-size: 16px; /* Adjust font size to your preference */
}

#result, #explanation {
    margin-top: 20px;
}
